In [1]:
import pandas as pd
import numpy as np

In [11]:
# Import CVS file
my_df = pd.read_csv("dog_data_short.csv")
my_df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [13]:
# Create New Column
my_df["Frame Header"] = ["Dog1", "Dog2", "Dog3", "Dog4", "Dog5"]
my_df

                 Breed        Color  DogName  OwnerZip Frame Header
0             COCKAPOO        BROWN  CHARLEY     15236         Dog1
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238         Dog2
2        BELG MALINOIS      BRINDLE     EICH     15238         Dog3
3                MIXED  BLACK/BROWN    ARROW     15104         Dog4
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139         Dog5

In [18]:
# Set index
my_df.set_index("Frame Header", inplace = True)

KeyError: "None of ['Frame Header'] are in the columns"

In [10]:
# Show DataFrame

In [17]:
my_df

                            Breed        Color  DogName  OwnerZip
Frame Header
Dog1                     COCKAPOO        BROWN  CHARLEY     15236
Dog2                 GER SHEPHERD  BLACK/BROWN   TACODA     15238
Dog3                BELG MALINOIS      BRINDLE     EICH     15238
Dog4                        MIXED  BLACK/BROWN    ARROW     15104
Dog5          AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [21]:
# Reset index
my_df.reset_index(inplace= True)

In [27]:
# Dorp Column
my_df.drop("Frame Header", axis = 1, inplace = True)

In [28]:
my_df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [25]:
# Show DataFrame