In [1]:
import pandas as pd
import numpy as np

In [4]:
# Create Data
stuff = {
    'Corporation': ['Apple', 'Google', 'Meta', 'Apple', 'Google', 'Meta'],
    'Employees': ['John', 'April', 'Wes', 'Beth', 'Justin', 'Steph'],
    'Salary': [200, 220, 190, 130, 120, 150]}

In [5]:
# Create DataFrame
my_df = pd.DataFrame(stuff)
my_df

  Corporation Employees  Salary
0       Apple      John     200
1      Google     April     220
2        Meta       Wes     190
3       Apple      Beth     130
4      Google    Justin     120
5        Meta     Steph     150

In [11]:
# Group by corporation - To get object location in memory
company = my_df.groupby('Corporation')
company

In [12]:
# Sum
company.sum()

               Employees  Salary
Corporation
Apple           JohnBeth     330
Google       AprilJustin     340
Meta            WesSteph     340

In [13]:
# mean
company.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [14]:
# max min
company.max()

            Employees  Salary
Corporation
Apple            John     200
Google         Justin     220
Meta              Wes     190

In [15]:
# standard daviation
company.std()

ValueError: could not convert string to float: 'John'

In [16]:
# variance 
company.var()

TypeError: agg function failed [how->var,dtype->object]

In [17]:
# count
company.count()

             Employees  Salary
Corporation
Apple                2       2
Google               2       2
Meta                 2       2

In [18]:
# describe
company.describe()

            Salary
             count   mean        std    min    25%    50%    75%    max
Corporation
Apple          2.0  165.0  49.497475  130.0  147.5  165.0  182.5  200.0
Google         2.0  170.0  70.710678  120.0  145.0  170.0  195.0  220.0
Meta           2.0  170.0  28.284271  150.0  160.0  170.0  180.0  190.0