In [1]:
import pandas as pd
import numpy as np

In [2]:
# Create Data
stuff = {
    'Corporation': ['Apple', 'Google', 'Meta', 'Apple', 'Google', 'Meta'],
    'Employees': ['John', 'April', 'Wes', 'Beth', 'Justin', 'Steph'],
    'Salary': [200, 220, 190, 130, 120, 150]}

In [3]:
# Create DataFrame
my_df = pd.DataFrame(stuff)
my_df

  Corporation Employees  Salary
0       Apple      John     200
1      Google     April     220
2        Meta       Wes     190
3       Apple      Beth     130
4      Google    Justin     120
5        Meta     Steph     150

In [8]:
# Function on multiple columns
def namer(x):
    return "Codemy: " + x

In [9]:
# Apply To Two Columns
my_df[["Corporation", "Employees"]].apply(namer)

      Corporation       Employees
0   Codemy: Apple    Codemy: John
1  Codemy: Google   Codemy: April
2    Codemy: Meta     Codemy: Wes
3   Codemy: Apple    Codemy: Beth
4  Codemy: Google  Codemy: Justin
5    Codemy: Meta   Codemy: Steph

In [ ]:
# Append to current Dataframe
my_df[["Corporation", "Employees"]].