In [1]:
import pandas as pd
import numpy as np

In [2]:
# Pandas series - Like a Table Column - 1 Dimension Array Holding Any type of Data
my_series = [5,9,12,27]
my_var = pd.Series(my_series)
my_var

0     5
1     9
2    12
3    27
dtype: int64

In [4]:
# Print specific  value
my_var[2]

12

In [5]:
# Labels using the index argument
my_index = ["A", "B", "C", "D"]
my_var2 = pd.Series(my_series, my_index)
my_var2

A     5
B     9
C    12
D    27
dtype: int64

In [6]:
my_var2["B"]

9

In [ ]:
# Key  Value Dictionary
cars = {"Tesla": 12, "Mercedes":42, "BMW": 3}
my_var3 = pd.