In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [3]:
my_data = randn(4,3) # Rows, Columns
my_rows = ["A", "B", "C", "D"]
my_cols = ["Monday", "Tuesday", "Friday"]

In [4]:
# Create data frame
my_df = pd.DataFrame(my_data, my_rows, my_cols)
my_df

     Monday   Tuesday    Friday
A  0.670538 -1.391766  1.375034
B  0.865213 -0.002511 -2.348742
C -0.882753  1.342226  0.088754
D -0.606381 -1.987553 -0.077367

In [6]:
# import csv file
my_df2 = pd.read_csv('dog_data.csv')
my_df2

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

In [7]:
# Pull out rows
my_df2.loc[0]

Breed       COCKAPOO
Color          BROWN
DogName      CHARLEY
OwnerZip       15236
Name: 0, dtype: object

In [10]:
# Pull out multiple rows
my_df2.loc[[0,5, 8]]

               Breed        Color     DogName  OwnerZip
0           COCKAPOO        BROWN     CHARLEY     15236
5   SCOTTISH TERRIER        BLACK      BAILEY     15129
8  SHETLAND SHEEPDOG  WHITE/BROWN  ZOE VITSAS     15238