In [1]:
import pandas as pd
import numpy as np

In [4]:
# Import CSV file
my_df = pd.read_csv("dog_data_short.csv")
my_df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [5]:
# Grab Method 1 location
my_df.loc[2] # loc- location

Breed       BELG MALINOIS
Color             BRINDLE
DogName              EICH
OwnerZip            15238
Name: 2, dtype: object

In [7]:
# Grab rowrow Method 2 Index Location
my_df.iloc[3] # iloc- index location

Breed             MIXED
Color       BLACK/BROWN
DogName           ARROW
OwnerZip          15104
Name: 3, dtype: object

In [8]:
# Specific Points (row and column)
#my_df.loc["Row", "COLUMN"]
my_df.loc[1, "DogName"]

'TACODA'

In [11]:
# Subsets
#my_df.loc[["row", "row"], ["column", "column"]]
my_df.loc[[1,3], ["DogName", "Breed", "Color"]]

  DogName         Breed        Color
1  TACODA  GER SHEPHERD  BLACK/BROWN
3   ARROW         MIXED  BLACK/BROWN